/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}






:root {
    --theme-color-lighter: rgba(0, 67, 0, 0.682);
    --theme-color-darker: rgba(0, 67, 0, 0.841);
    --contrasting-grey-color: rgba(108, 108, 108, 0.115);
    font-family: 'Roboto', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
}

div.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    border-radius: 5px;
    background-color: white;
    grid-template-columns: 1fr 1fr;
}

div.container > div.hero {
    background-image: url(/img/alexandrine-roy-ZPKg0NN64oI-unsplash.jpg);
    position: relative;
    display: flex;
    background-size: cover;
    min-width: 60vw;
}

div.container > div.info {
    display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    font-size: 25px;
}

img.card {
    max-width: 100%;
    vertical-align: middle;
}

div.banner {
    display: flex;
    min-width: 100%;
    justify-content: center;
    align-self: center;
    font-size: 100px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.347);
    color: rgba(255, 255, 255, 0.508);
}

div.credit {
    display: flex;
    font-size: 15px;
    position: absolute;
    justify-content: center;
    min-width: 100%;
    color: white;
}


header, footer {
    background-color: var(--contrasting-grey-color);
}

header {
    display: grid;
    align-items: flex-end;
    padding: 40px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
}

main {
    display: grid;
    align-items: center;
    padding: 0 40px 0 40px;
    margin: 15px 0 15px 0;
}

main > form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

h2 {
    font-size: 20px;
    margin-top: 15px
}

input {
    border-radius: 3px;
    border: 3px solid rgba(0, 0, 0, 0.115);
}

input:focus {
    outline: none;
    border-radius: 3px;
    border: 3px solid rgba(0, 0, 255, 0.216);
}

input[id="first-name"]:valid,
input[id="last-name"]:valid,
input[id="phone-number"]:valid,
input[id="email"]:valid,
input[id="password"]:valid {
    border-radius: 3px;
    border: 3px green solid;
}

input[id="first-name"]:invalid:not(:focus):not(:placeholder-shown),
input[id="last-name"]:invalid:not(:focus):not(:placeholder-shown),
input[id="phone-number"]:invalid:not(:focus):not(:placeholder-shown),
input[id="email"]:invalid:not(:focus):not(:placeholder-shown),
input[id="password"]:invalid:not(:focus):not(:placeholder-shown) {
    border-radius: 3px;
    border: 3px red solid;
}


button {
    background-color: var(--theme-color-lighter);
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 30px 15px 30px;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
    box-shadow: 1px 1px 1px 1px black;
}

button:hover {
    background-color: var(--theme-color-darker)
}

a {
    text-decoration: none;
    color: var(--theme-color-lighter);
}

a:hover {
    color: var(--theme-color-darker)
}

footer > p > a {
    margin-left: 10px;
}

